[project]
	description = testing first repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tobiasz Zabiega (Dhak1719)
[access "refs/for/refs/*"]
	read = group user/Tobiasz Zabiega (Dhak1719)
	push = group user/Tobiasz Zabiega (Dhak1719)
	label-Code-Review = -2..+2 group user/Tobiasz Zabiega (Dhak1719)
	label-Verified = -1..+1 group user/Tobiasz Zabiega (Dhak1719)
	rebase = group user/Tobiasz Zabiega (Dhak1719)
	removeReviewer = group user/Tobiasz Zabiega (Dhak1719)
	submit = group user/Tobiasz Zabiega (Dhak1719)
[access "refs/heads/*"]
	read = group user/Tobiasz Zabiega (Dhak1719)
	create = group user/Tobiasz Zabiega (Dhak1719)
	push = +force group user/Tobiasz Zabiega (Dhak1719)
	pushMerge = group user/Tobiasz Zabiega (Dhak1719)
[access "refs/tags/*"]
	push = +force group user/Tobiasz Zabiega (Dhak1719)
	pushTag = group user/Tobiasz Zabiega (Dhak1719)
	pushSignedTag = group user/Tobiasz Zabiega (Dhak1719)
